<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>관리자 대시보드</title>
</head>
<body>
<h1>관리자 대시보드</h1>
<p>등록된 사용자 목록:</p>
<table>
    <tr>
        <th>ID</th>
        <th>사용자 이름</th>
        <th>비밀번호</th>
        <th>수정</th>
    </tr>
    <tr th:each="user : ${users}">
        <td th:text="${user.id}"></td>
        <td th:text="${user.username}"></td>
        <td th:text="${user.password}"></td>
        <td><a th:href="@{/admin/users/edit/{id}(id=${user.id})}">수정</a></td>
    </tr>
</table>
<a href="/logout">로그아웃</a>
</body>
</html>
